.abrir-modal.animacion.fadeIn(*ngIf='modal')
  .modal(tabindex='-1', role='dialog')
    .modal-dialog.modal-lg(role='document')
      .modal-content
        .modal-header
          h5.modal-title {{titulo}}
          button.close((click)='cerrarModal()', type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          .container
            .row
              .col-sm
                ul.list-group.text-dark.mb-3(*ngIf='cliente')
                  li.list-group-item.active {{ cliente.nombre }}
                  li.list-group-item {{ cliente.apellido }}
                  li.list-group-item {{ cliente.email }}
                  li.list-group-item {{ cliente.createAt }}
                  li.list-group-item {{ cliente.region.nombre }}
                .input-group.mb-3(*ngIf="isAdmin")
                  .custom-file
                    input#inputGroupFile04.custom-file-input((change)='seleccionarFoto($event)', type='file', aria-describedby='inputGroupFileAddon04')
                    label.custom-file-label(for='inputGroupFile04') Seleccionar Foto
                  .input-group-append
                    button#inputGroupFileAddon04.btn.btn-outline-secondary((click)='subirFoto()', [disabled]='!fotoSeleccionada', type='button') Subir
                .progress(*ngIf='progreso > 0')
                  .progress-bar.progress-bar-striped(role='progressbar', [style.width.%]='progreso', attr.aria-valuenow='{{progreso}}', aria-valuemin='0', aria-valuemax='100') {{ progreso}} %
              .col-sm
                img.img-fluid.img.thumbnail.rounded(src='http://localhost:8080/api/clientes/uploads/img/{{cliente.foto}}', *ngIf='cliente?.foto', alt='{{cliente.foto}}')
            hr
            .row(*ngIf="isAdmin")
              button.btn.btn-success.btn-sm(type='button', name='editar', [routerLink]="['/facturas/forma', cliente.id]") Crear factura
                fa-icon.text-white.mx-1([icon]="faPlus")
            .row
              .alert.alert-info.my-4(*ngIf="cliente.facturas.length == 0") No hay facturas asignadas para el cliente para el cliente {{ cliente.nombre}} {{cliente.apellido}}
              table.table.table-bordered.table-striped.my-4(*ngIf="cliente.facturas.length > 0")
                thead
                  tr
                    th Folio
                    th Descripción
                    th Fecha
                    th Total
                    th Detalle
                    th(*ngIf="isAdmin") Eliminar
                tbody
                  tr(*ngFor="let factura of cliente.facturas")
                    td {{factura.id}}
                    td {{factura.descripcion}}
                    td {{factura.createAt}}
                    td {{factura.total}}
                    td
                      button.btn.btn-success.btn-sm(type="button", [routerLink]="['/facturas', factura.id]") Ver
                        fa-icon.text-white.mx-1([icon]="faEdit")
                    td(*ngIf="isAdmin")
                      button.btn.btn-danger.btn-sm(type="button", (click)="delete(factura)") Eliminar
                        fa-icon.text-white.mx-1([icon]="faTrashAlt")
        .modal-footer
          button.btn.btn-secondary((click)='cerrarModal()', type='button', data-dismiss='modal') Cerrar
